<footer class="border-top footer text-muted">
    <div class="container">
        &copy; 2023 - Pizzeria - <a href ="@Url.Action("Privacy", "Pizza")">Privacy</a>
    </div>
</footer>

<style>
    footer {
        padding: 2rem 0;
    }
</style>