@model Post[]

@{
    ViewData["Title"] = "La mia pizzeria";
    var posts = Model;
}

@if (posts.Length is 0)
{
    <p>No pizzas to display :\</p>
}
else
{
    <table>
        <thead>
            <tr>
                <th>Nome</th>
                <th>Foto</th>
                <th>Ingredienti</th>
                <th>Prezzo</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var post in posts)
            {
                <a href="@Url.Action("Detail", "Pizza", new{ Id = post.Id })">@post.NomePizza</a>
            }
        </tbody>
    </table>
}
